{% extends 'base.html.twig' %}
{% block body %}
<div class="section pt-5 pb-0">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-9">
                <span class="fw-normal text-uppercase d-block mb-1">Search For</span>
                <h2 class="heading">"{{keyword}}"</h2>
            </div>
        </div>
        {% if articles %}
        <div class="row justify-content-center">
        {% for article in articles %}
            <div class="col-lg-9">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <div class="me-md-5 thumbnail mb-3 mb-md-0">
                        <img src="{{article.cover}}" alt="Image" class="img-fluid">
                    </div>
                    <div class="content">
                        <div class="post-meta mb-3">
                            <a href="{{path('category.articles',{'slug':article.categorie.slug})}}" class="category">{{article.categorie.title}}</a>, &mdash;
                            <span class="date">{{article.dateDeCreation|date("F d, Y")}}</span>
                        </div>
                        <h2 class="heading"><a href="{{path('blog.index',{'slug':article.slug})}}">{{article.titre}}</a></h2>
                        <p>{{article.introduction}}</p>
                        <a href="{{path('blog.index',{'slug':article.slug})}}" class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="https://i.pravatar.cc/45" alt="Image">
                            </div>
                            <div class="text">
                                <strong>Sergy Campbell</strong>
                                <span>Author, 26 published post</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="row justify-content-center md-5">
            <div class="col-lg-9">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <h4>No article found </h4>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}